<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta app require acceso a tu galeria para seleccionar una imagen para tu perfil.</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta app requiere la camara para tomar fotos para tu perfil.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu ubicación solo se usará para detectar cuando llegues a los lugares que tú elijas y enviar una notificación a tus contactos. La app no comparte tu ubicación en tiempo real.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tu ubicación solo se usará para detectar cuando llegues a los lugares que tú elijas y enviar una notificación a tus contactos. La app no comparte tu ubicación en tiempo real.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
